/*join ui css*/


#roomid{
    text-transform: lowercase;
}

#pageshare{
    margin: 30px;
}

body{
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
    background-color: #eee
}

/*room nav btn css*/
#logo {
    border: 1px solid;
    border-style: outset;
    border-radius: 10%;
    margin: 3px;
    width: 42px;
    height: 42px;
    border-color: #00FF7F;
}

#exit {
    border-style: outset;
    border-width: 1px;
    border-color: #FFFF00;
    margin: 3px;
    cursor:default;
}

#voice {
    border-style: outset;
    border-width: 1px;
    border-color: #A020F0;
    margin: 3px;
    cursor:default;
}

#edit {
    border-style: outset;
    border-width: 1px;
    border-color: #00FF00;
    margin: 3px;
    cursor:default;
}

#film {
    border-style: outset;
    border-width: 1px;
    border-color: #FF3030;
    margin: 3px;
    cursor:default;
}
#liv{
      border-style: outset;
    border-width: 1px;
    border-color: #ff30f0;
    margin: 3px;
    cursor:default;  
}

#share {
    border-style: outset;
    border-width: 1px;
    border-color: #00FF00;
    margin: 3px;
    cursor:default;
}
/*on click btn css*/
#voice:active,#film:active,#share:active,#edit:active,#exit:active,#liv:active{
    border-style: inset;
    border-width: 1px;
    background-color: #BDBDBD;
}

#myvideo{
    display:none;
    position:absolute;
    z-index:8;
}
#closed{
    width:100%;
    position: absolute;
    z-index: 20;
    top: 40%; 
    display: none;
}
.infoBox{
    border: 2px solid #ffaacc;
    border-radius: 5%;
    position: relative;
    z-index: 110;
    margin-top: 30%;
}
#liv_select{
    width: 65%;
    height: 35px;
    margin-left: 1%;
    border-color:#DCDCDC;
    border-radius: 5px;
}
#liv_left,#liv_right,#liv_stop{
    border-style: outset;
    border: 1px solid;
    margin: 30px;
    width: 42px;
    height: 42px;
    border-color:#E6E6FA;
    cursor:default;
    border-radius: 20%;
    background: #ffffff;
}
#liv_left:active,#liv_right:active,#liv_stop:active{
    border-style: inset;
    cursor:default;
    background: #00FFFF;
}
.search{
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
#search{
    width: 30%;
    height: 35px;
    border-color:#DCDCDC;
    border-radius: 5px;
}
.form-control{
    width: 80%;
}