#logo {
    border: 1px solid;
    border-style: outset;
    border-radius: 10%;
    margin: 3px;
    width: 42px;
    height: 42px;
    border-color: #00FF7F;
}

#exist {
    border-style: outset;
    border-width: 1px;
    border-color: #FFFF00;
    margin: 3px;
}

#voice {
    border-style: outset;
    border-width: 1px;
    border-color: #A020F0;
    margin: 3px;
}

#answer {
    border-style: outset;
    border-width: 1px;
    border-color: #9C9C9C;
    margin: 3px;
}

#film {
    border-style: outset;
    border-width: 1px;
    border-color: #FF3030;
    margin: 3px;
}

#help {
    border-style: outset;
    border-width: 1px;
    border-color: #9C9C9C;
    margin: 3px;
}

#play {
    border-radius: 50%;
}

#video_info {
    position: absolute;
    left: 35%;
    top: 50%;
}

#myvideo{
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 20;
}

body{
  
    background-color: #eee
}